﻿@model FixesApp.Models.User
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_HomeNav")
<h2>SignUp</h2>
@using (Html.BeginForm("SignUp", "Home"))
{
    <table class="table">
        <tr>
            <td>
                <p class="text-danger">@ViewBag.UserAlreadyExists</p>
                <div class="form-group">
                    @Html.LabelFor(x => x.UserName)
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p class="text-danger">@ViewBag.UserAlreadyExists</p>
                <div class="form-group">
                    @Html.LabelFor(x => x.MobileNumber)
                    @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.MobileNumber, "", new { @class = "text-danger" })
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <p class="text-danger">@ViewBag.UserAlreadyExists</p>
                <div class="form-group">
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                </div>
            </td>
        </tr>

    </table>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success">SignUp</button>
}
<hr />
<p>Already Have an Account? @Html.ActionLink("Login", "Index", "Home")</p>


